<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>JD</display-name>
	
	<welcome-file-list>
		
		<welcome-file>index.jsp</welcome-file>
	
	</welcome-file-list>
	
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.servlet.CategoryServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>JDDispatcherServlet</servlet-name>
    <servlet-class>com.servlet.JDDispatcherServlet</servlet-class>
  </servlet>


  <servlet-mapping> 
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JDDispatcherServlet</servlet-name>
    <url-pattern>/JDDispatcherServlet</url-pattern>
  </servlet-mapping>
	
	
   <filter>
   	<filter-name>MyCharacterFilter</filter-name>
   	<filter-class>com.filter.MyCharacterFilter</filter-class>
   </filter>
   
   <filter-mapping>
   	<filter-name>MyCharacterFilter</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
</web-app>
